.menu-horizontal {
  display: none;
  @include media(tabletAndUp) {
    align-items: center;
    display: flex;
  }

  &__right {
    @include flex-between;
    align-items: baseline;
    gap: spacing("lg");
  }
}

.img-homepage {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 63px;
}
