<h1>Tâches de la famille</h1>

<% @tasks.each do |task| %>
  <div>
    <h2><%= task.name %></h2>
    <p><%= task.description %></p>
    <p><%= task.due_date %></p>
    <p><%= task.done ? 'Terminée' : 'Non terminée' %></p>
  </div>
<% end %>
