 
<div class="mobile-menu__overlay" data-mobile-menu-target="overlay">
  <div class="mobile-menu__content" data-mobile-menu-target="content">
    <div class="mobile-menu__header">
      Emilie
    </div>
    <div class="mobile-menu__actions">
      <button class="mobile-menu__action">
        <i class="fas fa-plus"></i>
        Ajouter une tâche
      </button>
      <button class="mobile-menu__action">
        <i class="fas fa-trash"></i>
        Supprimer une tâche
      </button>
      <button class="mobile-menu__action">
        <i class="fas fa-plus"></i>
        Ajouter un privilège
      </button>
      <button class="mobile-menu__action">
        <i class="fas fa-trophy"></i>
        Malle aux trésors
      </button>
    </div>
    <div class="mobile-menu__footer">
      <button class="mobile-menu__back-button">
        Revenir à ma famille
      </button>
    </div>
  </div>
</div>