<div class="child-card__body">
  <h4 class="child-card__body__periodicity"><%= periodicity.capitalize %></h4>
  <% awards.each do |award| %>
    <%= render partial: "award", locals: { award: award, points: points, child: child } %>
  <% end %>
</div>
