<div class="child-card__body">
  <h4 class="child-card__body__periodicity">
    <div class="child-card__header__points child-card__header__points--<%= period %>">
      <span class="child-card__header__points-value"> <%= periodicity.capitalize %></span>
    </div>
  </h4>
  <% awards.each do |award| %>
    <%= render partial: "award-by-child", locals: { award: award, points: points, child: child } %>
  <% end %>
</div>
