<div class="treasure-chest">
  <div class="container">
    <div class="headers__container">
      <%= link_to family_dashboard_path do %>
        <span class="headers__back-arrow"><i class="fa-solid fa-chevron-left"></i></span>
      <% end %>
      <h1>Coffre aux trésors</h1>
    </div>
  </div>
  <div class="child-card__body">
    <% @children.each do |child| %>
      <%= render partial: "child", locals: { child: child } %>
    <% end %>
  </div>
</div>
