<div class="headers__container container">
  <%= link_to family_dashboard_path do %>
    <span class="headers__back-arrow"><i class="fa-solid fa-chevron-left"></i></span>
  <% end %>
  <h1>Nouveau privilège</h1>
</div>
<div class="container">
  <%= render "form" %>
</div>
