<div class="text-center my-4">
  <%= link_to family_dashboard_path do %>
    <span class="back-arrow"><</span>
      <% end %>
      <h1>Ajouter un privilège</h1>
    </div>
    <div class="container">
      <%= render "form" %>
    </div>
