.child-card__badge {
  padding: spacing("2xs") spacing("sm");
  background-color: color("green", "lighter");
  color: color("green", "darker");
  border-radius: 0.5rem;
  font-size: font-size("xs");
  font-weight: font-weight("semibold");
  border: solid;
  border-color: color("green", "darker");
  min-width: 20%;
  text-align: center;

  animation: stamp 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  transform-origin: center;
  will-change: transform, opacity; // Optimise le rendu
  backface-visibility: hidden; // Réduit les glitchs
  opacity: 0;
}

@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(1.5) rotate(30deg) translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: rotate(20deg) translateY(5px);
  }
}
