.headers {
  &__container {
    @include flex-between;
  }

  &__back-arrow {
    @include button-primary;
    box-shadow: shadow("lg");
    padding: spacing("xs") spacing("sm");
    border-radius: radius("lg");
  }

  &__title-container {
    width: 100%;
    text-align: center;
  }
}
